@import '../abstracts/';

.header {
  width: 100%;
  height: 100vh;
  background: $color-dark-white;
  display: grid;
  grid-template-areas:
    'nav'
    'hero';
  grid-template-rows: 10vh 90vh;
  &__top {
    grid-area: nav;
    color: $color-dark-pink;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px !important;
    padding-right: 40px !important;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 120;
    display: flex;
 
    // display: grid;
    // grid-template-columns: 20% 80%;
    // grid-template-areas: 'logo menuItems';

    @include respond(max-tablet) {
      background-color: $color-white;
      border-bottom: 1px solid $color-dark-grey;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      &.hidden {
        visibility: hidden;
      }
    }

    @include respond(tablet) {
      // grid-template-areas:
      //   'logo  menuItems other';
      // grid-template-columns: 20% 50% 30%;
       &.scrolled {
        background-color: $color-white;
        border-bottom: 1px solid $color-dark-grey;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      }
    }
  }
  &__logo {
      grid-area: logo;
   
      z-index: 100;
      margin-left: 10px;
      @include flexAbsoluteCenter();

      img {
        box-shadow: 4px 4px 8px rgba(219,112,147, 0.3);
      }
      @include respond(tablet) {
        margin-left: 0;
      }
  }
  &__menu {
    grid-area: menuItems;
    height: 100%;
    width: calc(100% - 370px) !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    @include respond(tablet) {
      justify-content: initial;
    }
  }
  &__other {
  //  grid-area: other;
  //  display: none;
    @include respond(tablet){
      display: flex;
      position: initial;
      flex-direction: row;
      &>* {
        margin: 10px;
      }
    }
  }

  .select.custom__select {
    position: relative;
    display: inline-block;
    @include flexAbsoluteCenter();
    margin-right: 10px;
    width: 50px;
    @include respond(tablet) {
      width: 13%;
    }
  }
    
  .select.custom__select select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 100%;
    padding: 8px;
    border: none;
    cursor: pointer;
  }

  .select.custom__select select:focus {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 100%;
    padding: 8px;
    border: 1px solid $color-dark-pink;
    border-radius: 4px;
    cursor: pointer;
  }

  .custom-chevron {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__hero {
    grid-area: hero;
    margin-top: 10vh;
    height: 90vh;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.nav {
  // width: calc(120% + 30px);
  // min-height: 90vh;
  padding: 1rem 2rem;
  position: absolute;
  top: calc(10vh + 4px);
  left: calc(-20% - 30px);
  background-color: $color-white;
  @include respond(tablet) {
    max-width: 100%;
    height: 100%;
    min-height: 0;
    left: 0;
    top: 0;
    overflow-y: initial;
    background-color: transparent;
  }
}

.menu {
    &__listItem {
      width: 100%;
      position: relative;
      margin-left: 20px;
      margin-right: auto;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        color: $color-light-pink;
      }
    }
    &__sublist {
      padding: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
        &__item {
          font-size: 1rem;
          font-weight: bold;
          padding: 10px;
          height: auto;
          color: $color-dark-pink;
          align-self: flex-start;
          &:hover {
            background-color: $color-very-light-pink;
          }
          &--text {
            color: $color-dark-pink;
            margin-top: 5px;
            font-size: 0.8rem;
          }
        } 
        @include respond(tablet) {
          min-height: 15vh;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          position: absolute;
          top: 10vh;
          left: calc(30% - 150px);
          background-color: $color-white;
          border-radius: 5px;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
          -5px -5px 10px rgba(0, 0, 0, 0.3);
           &__item {
              &:hover {
                color: $color-light-pink;
              }
            }
        }
    }

    &__sub-sublist {
      padding: 5px;
      color: $color-black;
    }

    &__sublist--hide {
      display: none;
    }

    &__sub-sublist--hide {
      display: none;
    }
   }

  @include respond(max-tablet) {
      .nav__menu.nav__block {
        display: flex;
        justify-content: center;
        flex-direction: column;
        // max-width: calc(120% + 30px);
        max-width: 100vw;
        max-height: 100vh;
        position: fixed;
        background-color: $color-white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: opacity .2s ease;
    gap: 1rem;
  
    @include flexAbsoluteCenter();
        &>li {
          margin-bottom: 10px;
          padding: 20px 0 20px 0;
          margin-left: 0;
        
        
          .menu__item--parent {
            grid-template-areas: 
            'arrow'
            'sublist';
    svg {
            grid-area: arrow;
          }
          .menu__sublist {
            grid-area: sublist;
          }
          }
        }
      }
    }

    .nav__menu.nav__hide {
      display:none;
    }
  
    .hamburger {
      z-index: 120;
      margin-right: 20px;
      @include respond(tablet) {
        margin-right: 0;
      }
    }
  
    @include respond(tablet) {
      .hamburger {
        display: none;
      }
  
      .nav {
        &__menu {
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          text-wrap: nowrap
  
  
        }
  
        .menu {
          &__item:not(:nth-child(3)) {
            margin-right: 10px;
  
          }
  
          &__link {
            color: $color-white;
            font-size: 1.2rem;
            text-decoration: none;
          }
        }
      }
    }
  

  
