@import '../abstracts/';

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'nav'
    'hero';
  grid-template-rows: 10vh 90vh;
  color: $color-dark-pink;
  &__nav {
    grid-area: nav;
    background-color: $color-white;
    z-index: 200;
    @include respond(tablet){
      background-color: transparent;
    }
  }

  &__logo {
      grid-area: logo;
   
      z-index: 100;
      margin-left: 10px;
      @include flexAbsoluteCenter();

      img {
        box-shadow: 4px 4px 8px rgba(219,112,147, 0.3);
      }
      @include respond(tablet) {
        margin-left: 0;
      }
  }

  &__hero {
    grid-area: hero;
    margin-top: 10vh;
    height: 90vh;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }
}




  

  
