.nav {

 &__cont {
    position: fixed;
    position: fixed;
    max-width: 100vw;
    max-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: opacity .2s ease;
  }

  &__logo {
    grid-area: logo;
 
    z-index: 100;
    margin-left: 10px;
    @include flexAbsoluteCenter();

    img {
      box-shadow: 4px 4px 8px rgba(219,112,147, 0.3);
    }
    @include respond(tablet) {
      margin-left: 0;
    }
}

  &__top {
    grid-area: top;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 120;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    color: $color-dark-pink;
 
    display: grid;
    grid-template-areas:
      'logo hamburger'
      'menu menu';
    @include respond(max-tablet) {
       height: 10vh;
      background-color: $color-white;
      border-bottom: 1px solid $color-dark-grey;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    
    }

    @include respond(tablet) {
      position: fixed;
  
      grid-template-areas:
        'logo menu';
      grid-template-columns: 15% 80%;
         grid-template-rows: 10vh 60vh 30vh;
padding-left: 40px !important;
    padding-right: 40px !important;
      
 
       &.scrolled {
        background-color: $color-white;
        border-bottom: 1px solid $color-dark-grey;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      }
    }
  }
  &__menu {
    grid-area: menu;
    @include respond(tablet) {
      justify-content: initial;
      flex-direction: row;
    }
  }
}
   